<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>LeBonClone {% if page_title is defined %} - {{ page_title }}{% endif %}</title>

       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ asset('bundles/framework/css/menu.css')}}"/>
           
        <script src="{{ asset('bundles/framework/js/jquery.js')}}"></script>
        <script src="{{ asset('bundles/framework/js/bootstrap.min.js')}}"></script>
         
          {% block stylesheets %}
          {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
   
    </head>
   
    <body>

          <header>
              <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                  <div class="navbar-header">    
                    <a class="navbar-brand" href="/">LeBonClone</a>
                  </div>

                      <ul class="nav navbar-nav">
                         <li ><a href="/" class="active">Accueil </a></li>
                         <li><a href="/offre">Offres</a></li> 
                         {% if is_granted('ROLE_ADMIN')%}
                          <li><a href="/categorie">Catégorie</li>
                       {% endif %}
                      </ul>
                       
                       <ul class="nav navbar-nav navbar-right">                

                          <!--    si membre connecté         -->
                         <li class="dropdown">
                             {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ app.user.username }}<span class="caret"></span></a>
                                     <ul class="dropdown-menu">
                                       <li><a href="/profile"><span class="glyphicon glyphicon-pushpin"></span> profil</a></li>
                                       <li><a href="/profile/edit"><span class="glyphicon glyphicon-edit"></span> Editer profil</a></li>
                                       <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Déconnection</a></li>     
                                     </ul>

                          <!--    si anonyme       -->
                              {% else %}
                                    <li><a href="/register"><span class=" glyphicon glyphicon-user"></span> S'inscrire</a></li>  
                                    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Se connecter</a></li>
                              {% endif %}  
                               
                          </li>     
                      </ul>
                 
                </div><!-- /.container-fluid -->
              </nav>
          </header>


                <div class="col-md-3"></div>
                <div class="col-md-6">

  
          {% block body %}

              <div class="wrapper">
                 <div class="container">
                 </div>
              </div>
              
          {% endblock %}


                </div>
                <div class="col-md-3"></div>
          {% block javascripts %}{% endblock %}
      </body>
</html>
