{% extends '::base.html.twig' %}
{% set page_title = 'Détails offre' %}

{% block body %}
    <h2>Offre: {{ offre.titre }}</h2>

    <table class='table table-bordered'>

    <thead>
        <tr>
            <th>titre</th>
            <th>description</th>
            <th>prix</th>
        </tr>
    </thead>    
    <tbody>        
            <tr>
                <td>{{ offre.titre }}</td>
                <td>{{ offre.description }}</td>
                <td>{{ offre.prix }} €</td>
            </tr>
    </tbody>    
   </table>

    <ul class='list-unstyled'>
        <li>
            <a href="{{ path('offre_index') }}">Back to the list</a>
        </li>
         {% if is_granted('edit',offre) %}
            <li>
                <a href="{{ path('offre_edit', { 'id': offre.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
